################################################################################
# ImageClient configuration file
#
################################################################################
imageServer = images.dev.acme.com
vendedImageServer = images.dev.acme.com
#imageServer = images2.dev.acme.com
#vendedImageServer = images2.dev.acme.com
